@font-face {
  font-family: 'Roboto';
  ;
  src: url("../fonts/noto/NotoSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/noto/NotoSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/noto/noto-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../fonts/noto/noto-Light.ttf");
  font-weight: 300;
}
