---
layout: default
section_id: pages
members:
  - name: Ucha
    avatar: images/team/ucha.png
    avatar_hover: images/team/ucha.png
    position: Ucha, the CEO of Pilpilio, is a big nature lover. He has hiked through whole Georgia and many places abroad. He holds master’s degree in tourism management and has several years of experience in the field. Besides, Ucha specializes in Outdoor Adventure Education and Experiential Learning in the nature. He has comprehensive experience in the field of youth work, training and non-formal education.
  - name: Lela
    avatar: images/team/lela.png
    avatar_hover: images/team/lela.png
    position: Originally from the Czech republic, Lela has been living and working in Georgia since 2014. She is a freelance translator and writer, worked in social sphere and tourism. She is a co-author of USE-IT Tbilisi map for travelers who want to get to know the city through the eyes of the locals. She loves industrial urban wonders, such as Chiatura.
  - name: Rati
    avatar: images/team/rati.png
    avatar_hover: images/team/rati.png
    position: Rati is into business development, marketing and logistics. He has lived and studied logistics management in China and South Korea for 4 years combined. He likes exploring different cultures and is open to adventures. His main direction in Pilpilio is exploring new development opportunities, networking and finances.
---

<div class="full centered-text about">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns ">
          <div class="four spacing"></div>
          <div class="four spacing"></div>
          <div class="four spacing"></div>
          <div class="four spacing"></div>
        <h1 class="wow slideInUp white">About</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p></p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="full light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h2>Who is Pilpilio?</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 medim-centered columns">
      <p>
        We are a young team that has a simple goal: To show you the best out of Georgia. We will introduce you with its beautiful nature, rich culture, share the tales about its past and help you understand its most recent developments. We have lived in various places, travelled the world, seen many of its wonders, hiked dozens of mountains and worked with many international groups. Then we decided to come back to Georgia and create beautiful experiences for those who are coming to see our country.
        We are ready to experiment, offer you an adventure and a peek to the backstage, behind the usual tourist facades and “tourist traps.” We chose responsible tourism and have sustainable mindset. At the same time, we strive to achieve the highest standards of the services that we offer to our clients.
        We take the responsibility, so you can relax and enjoy.
              </p>
    </div>
  </div>
</div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="two spacing"></div>
        <h2>The team</h2>
        <p></p>
      </div>
    </div>
  </div>
    {% for member in page.members %}
    <div class="row">

      <div class="large-4 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
        </div>
      </div>

        <div class="centered-text">
          <div class="member-info">
            <h4>{{member.name}}</h4>
                  <div class="large-8 columns">
            <p class="position">{{member.position}}</p>
                  </div>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
