---
layout: default
section_id: pages
members:
  - name: Ucha
    avatar: images/team/ucha.png
    avatar_hover: images/team/ucha.png
    position: Ucha is a nature freak, he has been hiking around different places in whole Georgia and many places abroad.  He holds a master degree in tourism management and several years experience of working in tourism field.  Currently being a freelance trainer specializing in Outdoor Adventure Education, Ucha has experience in taking big groups up in the mountains, training them in soft & hard skill development, group performance, personal growth, etc. while also being a logistic manager.Ucha is an amateur photographer, loves taking analog photos in the nature.
  - name: Lela
    avatar: images/team/lela.png
    avatar_hover: images/team/lela.png
    position: Originally from the Czech republic, Lela has been living and working in Georgia for 5 years. She is a freelance journalist and writer, worked in social sphere and tourism. She is a co-author of USE-IT Tbilisi map for travellers who want to get to know the city through the eyes of the locals. She loves industrial urban wonders, such as Chiatura.
  - name: Rati
    avatar: images/team/rati.png
    avatar_hover: images/team/rati.png
    position: Rati is into business development, marketing and logistics. He has lived in China and South Korea for 4 years combined. He likes exploring different and cultures and is open to adventures. He likes biking and reading Sci-Fi books.
  - name: Davit
    avatar: images/team/davit.png
    avatar_hover: images/team/davit.png
    position: Davit holds MA in Tourism Management. Loves Tbilisi and its speed. As the rest of the team, Davit loves hikes in mountains and traveling around the world. Since 2003 Davit has been involved in the youth field, and participated and organized different international projects.
---

<div class="full centered-text about">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns ">
          <div class="four spacing"></div>
          <div class="four spacing"></div>
          <div class="four spacing"></div>
          <div class="four spacing"></div>
        <h1 class="wow slideInUp white">About</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p></p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="full light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h2>Who is Pilpilio?</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 medim-centered columns">
      <p class="big-text">
       We are a young team that has a simple goal: To show you the best out of Georgia. We will introduce you its beautiful nature, rich culture, share the tales about its past and help you to understand the most recent development or even find investment and business opportunities. We have lived in various places, travelled the world, seen numerous of its wonders, hiked dozens of mountains and worked with many international groups. Then we decided to come back to Georgia and design and curate beautiful experiences for those who are coming to see our country. We know the best of what our country has to offer. We are ready to experiment, offer you an adventure and a peek to the backstage, behind the usual tourist facades. At the same time, we recognise the highest standards of the services that we offer to our clients. We take the responsibility, so you can relax and enjoy.
      </p>
    </div>
  </div>
</div>
<div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>The team</h2>
        <p></p>
      </div>
    </div>
  </div>
    {% for member in page.members %}
    <div class="row">

      <div class="large-12 columns">
        <div class="member">
          <img src="{{site.url}}/{{member.avatar}}" alt="">
          <img class="colored" src="{{site.url}}/{{member.avatar_hover}}" alt="">
        </div>
        <div class="centered-text">
          <div class="member-info">
            <h4>{{member.name}}</h4>
            <p class="position">{{member.position}}</p>
            <ul class="socials">
              {% for social in member.socials %}
                <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
