---
layout: default
section_id: home
slides:
- layout: default
  title: I design things
  tagline: Brand, Web site, Print and Packaging
  image: images/@stock/diamond-white.png
  background: images/@stock/slide-full-5.jpg
- layout: alt
  title: I enjoy my works
  image_top: images/@stock/welcome.png
  image_bottom: images/@stock/arrows.png
  background: images/@stock/slide-full-6.jpg
works_left:
- title: Cooco fashion
  link_to: portfolio-item.html
  image: images/@stock/work-1.jpg
  categories: Website, brand
- title: Dear god
  link_to: portfolio-item.html
  image: images/@stock/work-20.jpg
  categories: Website, print
- title: Green choice
  link_to: portfolio-item.html
  image: images/@stock/work-22.jpg
  categories: Website
- title: Perfect bags
  link_to: portfolio-item-2.html
  image: images/@stock/work-7.jpg
  categories: Perfect bags
works_right:
- title: Dances App
  link_to: portfolio-item-2.html
  image: images/@stock/work-3.jpg
  categories: Website
- title: Vintage chairs
  link_to: portfolio-item.html
  image: images/@stock/work-5.jpg
  categories: Graphic, brand
- title: Help Five
  link_to: portfolio-item-2.html
  image: images/@stock/work-6.jpg
  categories: Photography
- title: Brandbooks
  link_to: portfolio-item.html
  image: images/@stock/work-8.jpg
  categories: Website, graphic
principles:
- title: Spiced up Tours
  desc: Pilpili means pepper. In each of our tours, you will find an extra flavour, beyond the standard tourist experience. Whether you are a nature lover, keen about traditional music, or political situation, we will work with you to meet your interests.
  icon: icon-basic-heart
- title: Socially responsible
  desc: We want to make sure that both our clients and the local community benefit from the growth of the tourism in Georgia. We work with the local businesses, stay with local people and make sure to avoid the tourist traps during all our trips
  icon: icon-basic-flag2
- title: Environmentally conscious
  desc: We believe that nature is Georgia’s biggest treasure and we do all we can to protect it. “Leave no trace” is an important part of our philosophy, especially in mountains. We ensure that our tours are organised with the highest respect to the natural environment. 
  icon: icon-basic-paperplane
- title: Flexible and personal
  desc: We want our tours to meet your needs and expectations. Would you like to visit a place or have an experience which you didn’t find in one of our tours? Organise a business tour? Let us know and we will do our best to find the most satisfying personalised solutions for you!
  icon: icon-basic-paperplane

---

<div class="full no-padding">
  <div id="slides" class="fullscreen">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <div class="row">
              <div class="large-10 large-centered columns">
                {% if slide.layout == 'default' %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image}});"></div>
                  <div class="two spacing"></div>
                  <h1>{{slide.title}}</h1>
                  <p>{{slide.tagline}}</p>
                {% else %}
                  <div class="image-wrapper" style="background-image: url({{site.url}}/{{slide.image_top}});"></div>
                  <div class="image-wrapper arrows" style="background-image: url({{site.url}}/{{slide.image_bottom}});"></div>
                  <div class="three spacing"></div>
                  <h1>{{slide.title}}</h1>
                {% endif %}
              </div>
            </div>
          </div>
          <img src="{{site.url}}/{{slide.background}}" alt="">
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>

<div class="full centered-text light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h2>Who is Pilpilio?</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 large-centered columns">
      <p class="big-text">
       We are a young team that has a simple goal: To show you the best out of Georgia. We will introduce you its beautiful nature, rich culture, share the tales about its past and help you to understand the most recent development or even find investment and business opportunities. We have lived in various places, travelled the world, seen numerous of its wonders, hiked dozens of mountains and worked with many international groups. Then we decided to come back to Georgia and design and curate beautiful experiences for those who are coming to see our country. We know the best of what our country has to offer. We are ready to experiment, offer you an adventure and a peek to the backstage, behind the usual tourist facades. At the same time, we recognise the highest standards of the services that we offer to our clients. We take the responsibility, so you can relax and enjoy.
      </p>
    </div>
  </div>
</div>
<div class="full centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Our values</h2>
      </div>
    </div>
  </div>
  <div class="row">
    {% for principle in page.principles %}
      <div class="large-3 columns">
        <div class="principle">
          <i class="{{principle.icon}}"></i>
          <h4>{{principle.title}}</h4>
          <p>{{principle.desc}}</p>
        </div>
      </div>
    {% endfor %}
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Recent works</h2>
        <p>You will love we have done</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>